/* Contenedor principal */
.container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  min-height: 90vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
}

/* Título */
.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-top: 40px;
}

/* Descripción */
.description {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

/* Contenedor del footer */
.footer {
  position: fixed; /* Asegura que el footer se quede fijo en la parte inferior */
  bottom: 0;
  left: 50%; /* Coloca el footer en la mitad de la pantalla */
  transform: translateX(-50%); /* Ajusta el posicionamiento para centrarlo completamente */
  width: 98%; /* Ancho del footer al 96% */
  display: flex;
  justify-content: center; /* Centra los botones en el footer */
  overflow-x: auto; /* Habilita el scroll horizontal en pantallas pequeñas */
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.footer::-webkit-scrollbar {
  height: 6px; /* Tamaño del scroll horizontal */
}

.footer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.footer::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

/* Estilo de los botones de actividades */
.activityButton {
  flex: 1 1 100px; /* Hace que los botones se ajusten con un tamaño mínimo de 100px */
  padding: 10px 20px;
  margin: 5px; /* Espaciado uniforme entre botones */
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto de hover */
.activityButton:hover {
  color: #fff;
  transform: scale(1.05);
}

/* Estado deshabilitado */
.activityButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: scale(1);
}

/* Botón de cierre de sesión */
.logoutButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #a71d2a;
}

/* Media query para pantallas de laptop y mayores (mayores a 768px) */
@media (min-width: 768px) {
  .footer {
    justify-content: space-evenly; /* Distribuir los botones uniformemente */
  }
}

/* Media query para pantallas extra pequeñas (celulares) */
@media (max-width: 480px) {
  .activityButton {
    font-size: 0.8rem; /* Reducir tamaño del texto */
    padding: 6px 10px;
  }
}
